.content-container {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 70px 20px 0px 20px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

@media screen and (max-width: 790px) {
  .content-container {
      flex-direction: column;
      margin-top: 60px;
      transition: all 1s;
  }
}
